html {
    min-width: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    background: linear-gradient(#171717, #2a2a2a, #171717);
    height: 100%;
    position: relative;
    margin: 0;
}

.header {
    padding: 2em;
    position: relative;
    height: 25vh;
}
.header h1 {
    text-shadow: 1px 1px 10px #000000;
}
.header a {
    color: #ccc;
    font-size: 1.2em;
}
.header p {
    padding: 1em;
    line-height: 1.3em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}

.card {
    width: 22rem;
    height: 20rem;
    background: radial-gradient(150rem circle at 0 0, #575757, transparent 0);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 30px black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.card:hover {
    transform: scale(0.99);
    box-shadow: 0px 0px 20px black;
}
.card:hover::before {
    opacity: 1;
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: radial-gradient(30rem circle at var(--xPos) var(--yPos), #fbfae6, transparent 80%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.card-content {
    background: radial-gradient(200rem circle at var(--xPos) var(--yPos), #717168, transparent 10%);
    background-color: #414141;
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 0.2rem);
    width: calc(100% - 0.2rem);
    display: flex;
    justify-content: center;
    position: relative;
}

.card-content > img {
    position: absolute;
    top: 1rem;
    width: 90%;
    height: 66%;
    border-radius: inherit;
    border: 1px solid #171717;
}

.card-content > p {
    font-size: 2rem;
    line-height: 0;
    position: absolute;
    bottom: 0.5rem;
}
